Health {
    position: absolute;
    backdrop-filter: blur(10px);
    left: 100px;
    bottom: 48px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
    align-items: center;
}

CurrentTool {
    position: absolute;
    background: linear-gradient(to right, rgba(orange, 0.5), rgba(black, 0.0));
    top: 100px;
    left: 0px;
    padding: 30px 70px;
    flex-direction: column;
    width: 560px;
    opacity: 0.0;

    &.active {
        opacity: 1.0;
    }

    .title {
        font-size: 50px;
        font-weight: bold;
        //text-shadow: 4px 4px 10px rgba( black, 0.3 );
        color: white;
    }

    .description {
        padding-top: 5px;
        padding-left: 10px;
        font-size: 18px;
        font-weight: normal;
        //text-shadow: 2px 2px 5px rgba( black, 0.3 );
        color: white;
        opacity: 0.8;
    }
}

rootpanel {
    background-color: rgba( #333, 0 );
    transition: all 0.1s ease-in;

    &.spawnmenuopen {
        backdrop-filter: blur(20px);
        transition: all 0.3s ease-out;
    }

    &.devcamera {
        display: none;
    }
}
