$base-color:  rgb(0, 81, 255) !default;
$blur-hud: 15px !default;
$blur-back-spawnmenu: 40px !default;

.backpanel {
  background-color: rgba(25, 25, 25, 0.97);
  top: 87%;
  left: 5%;
  border-radius: 5px;
  width: 360px;
  height: 130px;
  font-family: Poppins;
  font-size: 15px;
  color: white;
  .healthtext{
    top:40px;
    left: 105px;
    height: 18px;
    width: 35px;
    text-align: center;
  }
  .armortext{
    top:70px;
    left: 70px;
    height: 18px;
    width: 35px;
    text-align: center;
  }
  .moneyamount{
    top: 10px;
    left: 193px;
    font-size: 18px;
  }
  .moneysign{
    top: 10px;
    left: 190px;
    font-size: 18px;
  }
  .healthAmount{
    background-color: rgba(red, 1);
    position: absolute;
    width: 190px;
    height: 7px;
    top: 46px;
    left: 150px;
    opacity: 0.9;
  }
  .armorAmount{
    background-color: blue;
    position: absolute;
    width: 190px;
    height: 7px;
    top: 78px;
    left: 150px;
    opacity: 0.9;
  }
  .Image{
    position: absolute;
    background-color: rgb(50, 50 ,50);
    width: 90px;
    height: 90px;
    left: 10px;
    top: 17%;
  }
  .jobLabel{
    top: 95px;
    left: 7px;
    color: white;
  }
  .jobSign{
    top: 95px;
    right: 60px;
  }
}

CurrentTool
{
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: 0px;
	padding: 10px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active
	{
		opacity: 1.0;
	}

	.title
	{
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: white;
	}

	.description
	{
		padding-top: 5px;
		padding-left: 10px;
		font-size: 18px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: white;
		opacity: 0.8;
	}
}

rootpanel
{
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen
	{
		// transition: background-color 0.3s ease-out;
		// background-color: rgba( #333, 0.6 );
		
		backdrop-filter: blur($blur-back-spawnmenu);
	}

	&.devcamera
	{
		display: none;
	}
}


InventoryBar
{
	position: absolute;
	width: 100%;
	top: 0px;
	justify-content: center;
	// align-items: flex-end;
	
}

InventoryIcon
{
	width: 70px;
	height: 40px;
	background-color: rgba( #222, 0.3 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	// margin-top: 10px;
	font-family: poppins;
	border-radius: 0 0 10 10;
	backdrop-filter: blur($blur-hud);

	.item-name
	{
		// padding: 5px;
		color: white;
		text-align: center;
		left: 0;
		right: 0;
		font-size: 10px;
		position: absolute;
		bottom: 10;
		opacity: 0.3;
		transition: all 0.5s ease-in-out;
		text-shadow: 1px 1px 1px black;
		// transform: rotate(-20deg);
		text-transform: capitalize;
	}

	.slot-number
	{
		font-size: 15px;
		color: black;
		font-weight: 900;
		opacity: 0.3;
		position: absolute;
		top: 1px;
		right: 5px;
	}

	&.active
	{
		// display: inline-block;
		background-color: rgba( $base-color, 0.15 );
		transition: all 0.1s ease-out;
		top: 0;
		// width: 100px;
		height: 50px;

		.slot-number
		{
			color: #f1f1f1;
		}

		.item-name
		{
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 11px;
			transform: rotate(-10deg);
			padding: 5px;
			bottom: 0;
		}
	}
}
