$base-color:  rgb(0, 81, 255) !default;
$blur-spawnmenu: 55px !default;

spawnmenu {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.1s ease-out;
    position: absolute;
    font-family: poppins;
    opacity: 0;

    .tabs {
        font-size: 16px;
        flex-shrink: 0;
        margin-bottom: 4px;
        padding-left: 10px;
        background-color: rgba( rgb(17, 17, 17), 0.3 );
        backdrop-filter: blur($blur-spawnmenu);
        border-radius: 5;

        button {
            padding: 6px 5px;
            margin-right: 10px;
            font-size: 13px;
            align-items: center;
            font-weight: 600;
            opacity: 0.2;
            color: #fff;
            cursor: pointer;
            //border-radius: 5px;
            
            label {
                // text-shadow: 1px 1px 4px rgba( black, 0.2 );
            }

            &:hover {
                opacity: 1;
            }

            &.active {
                transform: scale( 1 );
                opacity: 1;
                color: #fff;
                background-color: rgba( $base-color, 0.5 );
                //	background-color: #fff;//( #3273eb, 0.2 );
                //color: #3273eb;
            }
        }
    }

    .left {
        flex-grow: 1;
        flex-direction: column;
        position: relative;
        left: -500px;
        transition: all 0.3s ease-in;

        .body {
            border-radius: 5px;
            background-color: rgba( rgb(17, 17, 17), 0.3 );
            backdrop-filter: blur($blur-spawnmenu);
            flex-grow: 1;
        }
    }

    .right {
        margin-left: 10px;
        flex-direction: column;
        min-width: 450px;
        flex-shrink: 0;
        left: 500px;
        transition: all 0.3s ease-in;

        .body {
            //	background-color: rgba( #333, 0.95 );
            flex-grow: 1;
            border-radius: 5px;
            background-color: rgba( rgb(17, 17, 17), 0.3 );
            // background-image: url('https://i.imgur.com/ZnxyBQt.png');
            // background-size: 120px;
            // background-repeat: no-repeat;
            // background-position: 50% 15;
            backdrop-filter: blur($blur-spawnmenu);
            padding: 10px;

            .toollist {
                flex-direction: column;
                width: 150px;
                color: white;
                background-color: rgba( rgb(20, 20, 20), 0.2 );
                padding: 5px;

                button {
                    padding: 3px 10px;
                    font-size: 11px;
                    transition: all 0.2s ease-out;
                    cursor: pointer;
                    background-color: rgba( rgb(34, 34, 34), 0.3 );
                    margin: 0.5px;

                    &:hover {
                        //border-left: 3px solid #3273eb;
                        color: rgb(211, 211, 211);
                        background-color: rgba( $base-color, 0.3 );
                    }

                    &.active {
                        //border-left: 5px solid #3273eb;
                        background-color: rgba( $base-color, 0.5 );
                        color: white;
                    }
                }
            }

            .inspector {
                //background-color: rgba( #111, 0.7 );
                flex-grow: 1;
                margin-left: 5px;
                border-radius: 0 5px 5px 0;
            }
        }
    }
}


.spawnmenuopen spawnmenu {
    transition: all 0.2s ease-out;
    pointer-events: all;
    opacity: 1;
    // transform: scale( 1 );

    .left, .right {
        left: 0;
        transition: all 0.1s ease-out;
    }
}

.spawnpage {
    display: none;

    &.active {
        display: flex;
        opacity: 1;
    }

    .canvas {
        overflow: scroll;
        width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px;
        border-radius: 5px;

        .cell {
            padding: 5px;
        }

        .icon {
            border-radius: 5px;
            color: rgba( #fff, 0.5 );
            font-size: 12px;
            text-align: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-color: rgba(black, 0.1);
            background-image: url( /entity/spawnicon.png );
            border: 3px solid rgba(87, 87, 87, 0.815);
            transition: border 0.3s ease-out;

            label {
                display: none;
                font-size: 9px;
                position: absolute;
                bottom: -5px;
                left: 0;
                right: 0;
                border-radius: 0 0 4px 4px;
                background-color: rgba(87, 87, 87, 0.815);
                transition: border 0.3s ease-out;
                pointer-events: none;
            }

            &:hover {
                color: #fff;
                background-color: rgba(black, 0.4);
            }

            &:active {
            }
        }

        .icon:hover {
            transition: all 0.3s ease-out;
            border: 3px solid $base-color;
            label {
                transition: all 0.3s ease-out;
                bottom: 0;
                display: flex;
                background-color: $base-color;
            }
        }

        
    }
}
